@model IEnumerable<QuicklyRecycle.Models.Manager>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="font-weight-bold text-left display-3">Gerentes</h2>

<div class="container">
    <div class="card border-dark">
        <div class="card-header bg-dark text-light text-center"><i class="fas fa-table"></i> Lista</div>
        <div class="card-body">
            <div class="row container">
                <form class="form-inline">
                    <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
                <a class="btn btn-sm btn-outline-success my-2 my-sm-0 m-2" asp-action="Create"><i class="fas fa-plus-circle"> Cadastrar</i></a>
            </div>
            <hr />
            <div class="table-responsive-lg">
                <table class="table table-dark table-bordered table-hover" style="font-size: 12px;">
                    <thead class="text-center thead-light">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.Name)
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-secondary btn-sm btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-address-book"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item-text" data-toggle="tooltip" data-placement="top" title="Editar" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-user-edit"></i> Editar</a>
                                            <a class="dropdown-item-text" data-toggle="tooltip" data-placement="top" title="Deletar" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Deletar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

